@model BlueSpatial.Models.CatalogViewModels.CatalogViewModel

@{
    ViewBag.Title = Model.ParentFolder;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div><strong>Current Version:</strong>@Model.Catalog.currentVersion</div>*@
@if (Model.Catalog.folders.Count > 0)
{
    <strong>Folders:</strong>
    <ul>
        @foreach (var folder in Model.Catalog.folders)
        {
            <li>
                <a href="/@GlobalConstant.ARCRESTROUTEPREFIX/@Model.ParentFolder@folder">@folder</a>
            </li>
        }
    </ul>
}
@if (Model.Catalog.services.Count > 0)
{
    <strong>Services:</strong>
    <ul>
        @foreach (var service in Model.ServiceConfigs)
        {
            <li>
                <a href="@Model.ParentFolder/@Path.GetFileName(service.Name)/@service.ServiceType.ToString()">@Path.GetFileName(service.Name)</a> (@service.ServiceType.ToString())<br>
            </li>
            if (service.ServiceType == BlueSpatial.Models.AdminViewModels.ServiceType.MapServer)
            {
                if (service.IsWMSEnabled) {
                <li>
                    <a href="@Model.ParentFolder/@Path.GetFileName(service.Name)/WMSServer?Request=GetCapabilities">@Path.GetFileName(service.Name)</a> (WMSServer)<br>
                </li>
                <li>
                    <a href="@Model.ParentFolder/@Path.GetFileName(service.Name)/WTMSServer">@Path.GetFileName(service.Name)</a> (WTMSServer)<br>
                </li>
                }

            }
        }
    </ul>
}
